.bundle
vendor/bundle

.ruby-version
.ruby-gemset
.rbenv-version
.rvmrc

log/*
tmp/*
*.log

test_storage_*
my_storage/*
my_frost_storage/*

.DS_Store
Thumbs.db
.pry_history
.byebug_history
coverage/

*.so
*.o
*.bundle
