/endor/bundle
/.bundle
vendor/

.ruby-version
.ruby-gemset
.rbenv-version
.rvmrc

log/*
tmp/*
*.log

test_storage_*
my_storage/*
my_frost_storage/*

.pry_history
.byebug_history

coverage/

.DS_Store
Thumbs.db

*.so
*.o
*.bundle
